@import '../../App.scss';

.DisplayData {
	width: 800px;
}

.TitleMain {
	text-align: center;
	font-size: 20px;
	color: $blue;
}

.XSquare {
	color: $red;
}

.ElseStatement {
	text-align: center;
	font-weight: bold;
	margin-top: 40px;
}
