.MainPage {
	padding: 20px;
}

.Header {
	position: relative;
	display: flex;
}

.ImgHeader {
	width: 250px;
	margin: 20px;
}

.TitleHeader {
	font-size: 30px;
	margin: auto;
}

.DataShow {
	display: flex;
	position: relative;
	margin: auto;
	align-content: center;
}

.Groups {
	vertical-align: center;
	margin-right: 10%;
	margin-left: auto;
}

.ListItens {
	margin-right: auto;
}

.ListedItens {
	overflow: auto;
}

.BlocksOfContent {
	display: inline-block;
}
