@import '../../App.scss';

.ButtonMain {
	position: relative;
	display: flex;
	border-radius: 10px;
	height: 110px;
	width: 250px;
	margin: 20px;
	background-color: $primary;
	color: $white;
}

.TextMain {
	font-size: 32px;
	margin: auto;
}
